<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TheodoliteStrokeParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TheodoliteStrokeParser.Properties.Settings>
      <!-- Список масштабов:
      номер масштаба - 500
      диаметр окружности - 1
      Размер текста номера вершины - 1.5
      Размер текста номера участка - 1.5
      и т.д.
      -->
      <setting name="С_ScaleListParam" serializeAs="String">
        <value>500;1;1.5;1.5|1000;2;3;4|2000;4;6;8|5000;12;15;16</value>
      </setting>
      <!--Точность округления координат для проверки совпадения-->
      <setting name="M_СoordinateTolerance" serializeAs="String">
        <value>0.01</value>
      </setting>
      <!--Величина, на которую будет умножена площадь полилинии для выноски, 
      если единицы чертежа метры, то при значении 1  будет выведены м2, 
      если единицы в мм, то для вывода в метрах это значение нужно поменять на 0.000001-->
      <setting name="M_AreaTolerance" serializeAs="String">
        <value>1</value>
      </setting>
      <!-- Величина, но которую будет умножена площадь полилинии для вывода в csv файл
      если единицы чертежа метры, то при значении 0.0001  будет выведены га,-->
      <setting name="M_AllAreaTolerance" serializeAs="String">
        <value>0.0001</value>
      </setting>
      <!-- Номер на выноске с которого начнется отсчет -->
      <setting name="M_StartNumberPoint" serializeAs="String">
        <value>1</value>
      </setting>
      <!-- Номер полилинии с которой начнется отсчет, например если вы уже сделали 
      вчера 15 участков и сейчас хотите продолжить, то установите это значение в  16 и программа просто продолжит
      -->
      <setting name="M_StartNumberCurve" serializeAs="String">
        <value>1</value>
      </setting>

      <!-- Имя слоя для вывода выносок с номером участка и площадью -->
      <setting name="V_LayerText" serializeAs="String">
        <value>ГИС_ЗУ_текст</value>
      </setting>
      <!-- Имя слоя для вывода окржностей в вершинах полилинии-->
      <setting name="V_LayerPoint" serializeAs="String">
        <value>ГИС_ЗУ_точки</value>
      </setting>
      <!-- Имя слоя для вывода выносок вершин полилинии-->
      <setting name="V_LayerPointNumber" serializeAs="String">
        <value>ГИС_ЗУ_точки_номер</value>
      </setting>
      <!-- Имя стиля мультивыносок для вывода вершин полилинии-->
      <setting name="V_MleaderCoordStyle" serializeAs="String">
        <value>tspCoord</value>
      </setting>
      <!-- Имя стиля мультивыноски для вывода номера участка и площади-->
      <setting name="V_MleaderMarkerStyle" serializeAs="String">
        <value>tspMarker</value>
      </setting>
      <!-- множитель единичного вектра выносок координат, ед. вектор указывает куда смещать, а это значение на сколько смещать-->
      <setting name="V_CoordTransform" serializeAs="String">
        <value>8</value>
      </setting>
      <!-- Х составляющая вектора смещения выноски с номером участка и площадью-->
      <setting name="V_MarkerTransformX" serializeAs="String">
        <value>10</value>
      </setting>
      <!-- Y составляющая вектора смещения выноски с номером участка и площадью-->
      <setting name="V_MarkerTransformY" serializeAs="String">
        <value>-10</value>
      </setting>
      <!-- Радиус окружности, которая выводитя в вершинах полилинии
      радиус указывается для самого маленького масштаба-->
      <setting name="V_BaseCircleRadius" serializeAs="String">
        <value>1</value>
      </setting>
      <!-- Строка, указывающая как форматировать координаты для вывода в CSV  файл
      подробнее тут: https://msdn.microsoft.com/ru-ru/library/0c899ak8(v=vs.110).aspx-->
      <setting name="V_CoordinatFormat" serializeAs="String">
        <value>#0.0000</value>
      </setting>

      <!-- текст на выноске номера участка и площади
      |n| - программа заменит на номер участка (наличие по желанию)
      |s| - программа за менит на площадь участка (наличие по желанию)
      Сама по себе строка может быть любая и может и может не содержат 
      указанных паттернов или содержать частично
      например :Зем.участок №|n| \P Площадь |s| м2 
      или |n| \P S:|s|м2
      -->
      <setting name="V_MarkerText" serializeAs="String">
        <value>:ЗУ|n| \P S= |s| кв.м</value>
      </setting>
      <!-- Открывать ли Excel по завершении программы. Возможные значения: True или False -->
      <setting name="V_startExcel" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- Добавлять или нет маску в текст выносок. Возможные значения: True или False -->
      <setting name="V_MTextMask" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- Размер маски текста -->
      <setting name="V_MTextMaskKoefficient" serializeAs="String">
        <value>1.1</value>
      </setting>
    </TheodoliteStrokeParser.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
